@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .common-bg {
    @apply bg-white shadow-lg shadow-light-accent hover:bg-light-secondary dark:bg-dark-main dark:shadow-none dark:hover:bg-dark-secondary;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #0ea5e9 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: #0ea5e9;
  border-radius: 10px;
  border: 3px solid #ffffff00;
}

textarea {
  outline: none;
}
