@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-base {
    @apply bg-light-base dark:bg-dark-base;
  }

  .common-bg {
    @apply bg-light-main shadow-lg shadow-light-accent dark:border dark:border-light-accent/5 dark:bg-dark-main dark:shadow-none;
  }

  .common-bg-secondary {
    @apply bg-light-secondary dark:bg-dark-secondary;
  }

  .common-bg-reverse {
    @apply bg-dark-secondary dark:bg-light-secondary;
  }

  .common-accent {
    @apply border-dark-accent/10 dark:border-light-accent/5;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #0ea5e9 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: #0ea5e9;
  border-radius: 10px;
  border: 3px solid #ffffff00;
}

textarea {
  outline: none;
}
